<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteBase /sistema-eventos/backend/api

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
